# Node.js dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production build
/build

# System and IDE files
.DS_Store
*.pem
*.log
*.swp
.vscode/
.idea/

# Environment files
.env
*.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
